header{
  background-color : #DD9BE2;
  height: 140px;
  width: auto;
  margin: 0px;
}
header h1{
  margin: 0px;
}
.logo{
 width: 167px;
  height: 69px;
}
header img{
  width: 124px;
  height: 88px;
}
.logo{
position: absolute;
  top: 0px;
  left: 0px;
}
.skz{
  position: absolute;
  top: 0px;
   right: 0px;
}
.center{
  position: absolute;
  right: 124px;
  top: 0px;
}
header h1{
text-align: center;
}
body{
  margin: 0px;
}
main h2{
  text-align: center;
}
